* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

body {
    background-color: rgb(175, 240, 208);
    display: flex;
    flex-direction: column;
  }

.mainpic {
    height: 400px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

.maindescrip {
    width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
    font-size: 25px;
    color: darkblue; 
}



.button-startq {
    background-color: turquoise;
    border: 1px solid black;
    color: black;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: auto;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

button.select-answer-right {
background-color: turquoise;
border: 1px solid black;
color: black;
padding-top: 30px;
text-align: center;
text-decoration: none;
display: block;
margin: auto;
padding: 5px;
font-size: 16px;
cursor: pointer;
}

button.select-answer-wrong {
background-color: turquoise;
border: 1px solid black;
color: black;
padding-top: 30px;
text-align: center;
text-decoration: none;
display: block;
margin: auto;
padding: 5px;
font-size: 16px;
cursor: pointer;
}

button.buttonNextw {
    background-color: turquoise;
    border: 1px solid black;
    color: black;
    padding-top: 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: auto;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

button.buttonNextr {
    background-color: turquoise;
    border: 1px solid black;
    color: black;
    padding-top: 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: auto;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.spaceA {
    margin-top: 25px;
}

.spaceB {
    margin-top: 25px;
}


button.buttonend {
    background-color: turquoise;
    border: 1px solid black;
    color: black;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: auto;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.questionQh {
    padding-bottom: 25px;
    border: 1px solid green;
    font-size: 25px;
}

.options {
    padding-top: 25px;
}

.questionQ.options {
    font: bold;
}


.questionQ {
    width: 100%;
    display: block;
    margin-top: 200px;
    text-align: center;
}

.status-container {
    max-width: 200px;
    border: 1px solid blue;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    vertical-align: middle; 
}

.correct-feedback-page {
    width: 100%;
    display: block;
    margin-top: 200px;
    text-align: center;    
}

.incorrect-feedback-page {
    width: 100%;
    display: block;
    margin-top: 200px;
    text-align: center;    
}

.final-page {
    width: 100%;
    display: block;
    margin-top: 200px;
    text-align: center;    
}

.score-circle {
    margin-top: 10px;
}

div.two {
    margin-top: 20px;
    margin-bottom: 20px;
}